In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [5]:
df["last"] == "Doe"

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
filt = df["last"] == "Doe"

In [7]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [8]:
df[df["last"] == "Doe"]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [9]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [10]:
df.loc[filt, "email"]

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

In [11]:
filt = (df["last"] == "Doe") & (df["first"] == "John")

In [12]:
df.loc[filt, "email"]

2    JohnDoe@gmail.com
Name: email, dtype: object

In [15]:
filt = (df["last"] == "Schafer") | (df["first"] == "John")

In [16]:
df.loc[filt, "email"]

0    CoreyMSchafer@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [18]:
df.loc[-filt, "email"] # Add - for opposite result

1    JaneDoe@gmail.com
Name: email, dtype: object