In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [5]:
df.sort_values(by="last")

   first     last                    email
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [6]:
df.sort_values(by="last", ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [7]:
df.sort_values(by=["last", "first"])

   first     last                    email
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [9]:
df.sort_values(by=["last", "first"], ascending=[False, True], inplace=True)

In [10]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [11]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [12]:
df["last"].sort_values()

1        Doe
2        Doe
0    Schafer
Name: last, dtype: object