In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ["first_name", "last_name", "email"]

In [7]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [8]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [9]:
df.columns = [x.upper() for x in df.columns]

In [10]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [11]:
df.columns = df.columns.str.replace(" ", "_") # Replace spaces with _

In [12]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [13]:
df.columns = [x.lower() for x in df.columns]

In [14]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [15]:
df.rename(columns={"first_name": "first", "last_name": "last"}) # Just a temporary update

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [16]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [17]:
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True) # Permanent change

In [18]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [19]:
df.loc[2] = ["John", "Smith", "JohnSmith@gmail.com"]

In [20]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      JohnSmith@gmail.com

In [21]:
df.loc[2, ["last", "email"]] = ["Doe", "JohnDoe@gmail.com"]

In [22]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [23]:
df.loc[2, "last"] = "Smith"

In [24]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@gmail.com

In [25]:
filt = df["email"] == "JohnDoe@gmail.com"
df.loc[filt, "last"] = "Doe"

In [26]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [27]:
df["email"].str.lower() # Temporary change

0    coreymschafer@gmail.com
1          janedoe@gmail.com
2          johndoe@gmail.com
Name: email, dtype: object

In [28]:
df["email"] = df["email"].str.lower() # Permanent change

In [29]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John      Doe        johndoe@gmail.com

In [30]:
df["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [31]:
def update_email(email):
    return email.upper()

In [32]:
df["email"].apply(update_email) # Temporary change

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@GMAIL.COM
2          JOHNDOE@GMAIL.COM
Name: email, dtype: object

In [33]:
df["email"] = df["email"].apply(update_email) # Permanent change

In [34]:
df["email"] = df["email"].apply(lambda x: x.lower()) # lambda example

In [35]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John      Doe        johndoe@gmail.com

In [36]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [37]:
len(df["email"])

3

In [38]:
df.apply(len, axis="columns")

0    3
1    3
2    3
dtype: int64

In [39]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [40]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [41]:
df.applymap(len)

/var/folders/p_/8vsfgly16lq5wdbqxrpds8r00000gn/T/ipykernel_67966/1485728669.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     3     17

In [43]:
df.applymap(str.lower)

/var/folders/p_/8vsfgly16lq5wdbqxrpds8r00000gn/T/ipykernel_67966/357608748.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@gmail.com
2   john      doe        johndoe@gmail.com

In [45]:
df["first"].map({"Corey": "Chris", "Jane": "Mary"})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [47]:
df["first"].replace({"Corey": "Chris", "Jane": "Mary"})

0    Chris
1     Mary
2     John
Name: first, dtype: object